#container {
  display: flex;
}
#leftside {
  width: 50%;

}
#rightside {
  width: 50%;
  background-color:black ;
}

#main{
    padding-top: 110px;
    margin-top:35px;
    margin-left: 29px;
    border-left: 2px solid #CDCDCD;
    padding-left: 65px;
    padding-right: 50px;
}